tests/__pycache__
.pytest_cache
.vscode
day*/ex*/objs
day0/ex00/megaphone
day0/ex01/phonebook
day0/ex02/bank
day1/ex00/brainz
day1/ex01/horde
day1/ex02/bonjour
day1/ex03/violence
day1/ex04/sed
day1/ex04/avatar
day1/ex04/*.replace
day1/ex05/Harl
day1/ex06/harlFilter
day2/ex00/fixed
day2/ex01/fixed
day2/ex02/fixed
day2/ex03/bsp
day3/ex00/clap_trap
day3/ex01/scav_trap
day3/ex02/frag_trap
day3/ex03/diamond_trap
day4/ex00/ex00
day4/ex01/ex01
day4/ex02/ex02
day5/ex00/ex00
day5/ex01/ex01